html, body {
  height: 100%;
  font-family: 'Microsoft YaHei';
}

.main-header {
  position: relative;
  height: 61px;
  z-index: 1024;
}

.main-container {
  position: relative;
  width: 100%;
  .full-height {
    height: 100%;
  }
}

.thin-dialog .el-dialog__header {
  padding: 13px 20px 0;
}

.thin-dialog .el-dialog__body {
  padding: 5px 20px;
}